@import "tailwindcss";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "tw-animate-css";

/** Dark Mode Variant **/
@custom-variant dark (&:is(.dark *));

#root {
  text-align: center;
  height: 100vh;
}

/** Colors **/
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: var(--color-white);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --border: oklch(
    0.922 0 0
  ); /* between --color-zinc-100 and --color-zinc-200 */
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: var(--color-white);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/** Theme Setup **/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Custom Scrollbar **/
@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}

/** Custom Container **/
@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    padding-inline: 2rem;
    max-width: 1440px;
  }
}

/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  background-color: #fff;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.093) 1px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;

  /* background-image: url(./assets/kclockbg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-clip: border-box;
  /* backdrop-filter: blur(5px) saturate(1.2); */
  height: 100vh;
  margin: 0;
}
.mtc-root {
  display: grid;
  place-items: center;
  margin: 4rem;
}
.container {
  display: flex;
  gap: var(--clock-gap);
}
.digit {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--clock-size) * 4);
}

.colonbox .colon {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--clock-size) * 2);
}
.clock {
  width: var(--clock-size);
  position: relative;
  aspect-ratio: 1/1;
}

.clock::before,
.clock::after {
  content: "";
  position: absolute;
  left: calc(50% - (var(--hand-width) / 2));
  top: var(--hand-width);
  width: var(--hand-width);
  height: var(--hand-height);
  background: var(--hand-color);
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  transform-origin: center bottom;
  transition: transform 0.4s linear;
}
.clock::before {
  transform: rotate(calc(var(--bi, 0) * 90deg));
}
.clock::after {
  transform: rotate(calc(var(--ai, 0) * 90deg));
}
.seconds-container {
  font-family: "DM Sans", sans-serif;
  margin-left: 35rem;
}
.seconds-container span {
  background: #f7f6e7;
  color: #777071;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  display: inline-block;
}

/* Sizing vars derived from clock-size */
.mtc-root {
  --hand-width: calc(var(--clock-size) * 0.075);
  --hand-height: calc(var(--clock-size) / 2);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button:hover {
  cursor: pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.timebox {
  align-items: center;
  display: flex;
  padding: 6rem 2.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.047);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 32px, rgba(0, 0, 0, 0.05) 0px 2px 8px,
    rgba(255, 255, 255, 0.3) 0px 1px 0px inset,
    rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
  backdrop-filter: blur(5px) saturate(1.2);
}

.timebox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.timebox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.timebox:not(:last-child) {
  margin-right: 2rem;
}

.timebox .ampmt {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: x-large;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  color: transparent;
  background-clip: text;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
}

.colonbox {
  padding: 6rem 0;
  width: 4.2rem;
}

.ampm-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  color: #f3f3f3;
  width: 4rem;
}

.ampm-container span {
  border: 1px solid #000;
  background-color: #e6e6e6;
  border-radius: 8px;
  backdrop-filter: blur(10px) brightness(1.1);
  display: inline-block;
  padding: 0.5rem;
}

.ampm-container span:not(:last-child) {
  margin-right: 1rem;
}

.clock-header {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.047);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 32px, rgba(0, 0, 0, 0.05) 0px 2px 8px,
    rgba(255, 255, 255, 0.3) 0px 1px 0px inset,
    rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
  backdrop-filter: blur(5px) saturate(1.2);
  transition: transform 4s linear;
}

.clock-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

/* .clock-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
} */

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Styling the track */
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    green,
    yellow,
    red
  ); /* Example gradient */
  height: 8px;
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(to right, green, yellow, red);
  height: 8px;
  border-radius: 4px;
}

/* Styling the thumb */
input[type="range"]::-webkit-slider-thumb {
  background-color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background-color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
